<div class="background-container">
  <div class="coach-form-container">
    <div class="form-card">
      <h2 class="form-title">Afegir Entrenador</h2>

      <p>Podeu afegir un mínim d'1 entrenador i un màxim de 3 entrenadors.</p>

      <form [formGroup]="entrenadorForm" (ngSubmit)="agregarEntrenador()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" formControlName="nom" required />
          <div
            class="error-message"
            *ngIf="entrenadorForm.get('nom')?.invalid && entrenadorForm.get('nom')?.touched"
          >
            El nom es requerit
          </div>
        </div>

        <div class="form-group">
          <label for="cognoms">Primer cognom</label>
          <input type="text" id="cognoms" formControlName="cognoms" required />
          <div
            class="error-message"
            *ngIf="entrenadorForm.get('cognoms')?.invalid && entrenadorForm.get('cognoms')?.touched"
          >
            El cognom és requerit
          </div>
        </div>

        <div class="form-group">
          <label for="tallaSamarreta">Talla de Samarreta</label>
          <select id="tallaSamarreta" formControlName="tallaSamarreta" required>
            <option value="" disabled selected>Seleccionar talla</option>
            <option *ngFor="let talla of tallas" [value]="talla">{{ talla }}</option>
          </select>
          <div
            class="error-message"
            *ngIf="
              entrenadorForm.get('tallaSamarreta')?.invalid &&
              entrenadorForm.get('tallaSamarreta')?.touched
            "
          >
            La talla es requerida
          </div>
        </div>

        <div class="checkbox-group">
          <input type="checkbox" id="esPrincipal" formControlName="esPrincipal" />
          <label for="esPrincipal" class="checkbox-label">És primer entrenador?</label>
        </div>

        <div class="error-message" *ngIf="maxCoachesReached">
          Només es poden afegir 3 entrenadors.
        </div>
        <div class="error-message" *ngIf="duplicatePrincipal">
          Ja existeix un entrenador principal. Només es pot designar un.
        </div>
        <div class="error-message" *ngIf="thirdCoachPrincipalMissing">
          El tercer entrenador s'ha de designar com a principal, ja que encara no n'hi ha cap.
        </div>

        <button
          type="submit"
          class="btn-add"
          [disabled]="
            entrenadorForm.invalid ||
            maxCoachesReached ||
            duplicatePrincipal ||
            thirdCoachPrincipalMissing
          "
        >
          <span class="btn-icon">+</span>
          <span>Agregar</span>
        </button>
      </form>
    </div>

    <!-- Table for showing added coaches -->
    <div class="table-card" *ngIf="entrenadores.length > 0">
      <h2 class="table-title">Entrenadors Registrats</h2>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Primer Cognom</th>
              <th>Talla</th>
              <th>Primer Entrenador</th>
              <th>Accions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entrenador of entrenadores; index as i">
              <td>{{ entrenador.nom }}</td>
              <td>{{ entrenador.cognoms }}</td>
              <td>{{ entrenador.tallaSamarreta }}</td>
              <td>{{ entrenador.esPrincipal ? 'Sí' : 'No' }}</td>
              <td class="center-actions">
                <button
                  class="btn-delete"
                  (click)="eliminarEntrenador(i)"
                  aria-label="Eliminar entrenador"
                >
                  <span class="material-icons">delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="navigation-controls">
      <div class="esquerra">
        <button class="btn-prev" (click)="previStep()">
          <span class="material-icons">arrow_back</span>
          <span>Anterior</span>
        </button>
      </div>
      <div class="dreta">
        <button
          class="btn-next"
          (click)="nextStep()"
          [disabled]="entrenadores.length < 1 || entrenadores.length > 3"
        >
          <span>Següent</span>
          <span class="material-icons">arrow_forward</span>
        </button>
      </div>
    </div>
  </div>
</div>
