@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

h1 {
  background-color: #fcb900;
}

header {
  margin-top: -25px;
  margin-bottom: -25px;
  padding: -8px;
  background-color: #fcb900;
  height: 120px;
}

body {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color:#131313;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.352);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
  border-radius: 10px;
  min-height: fit-content;
  box-sizing: border-box; 
  align-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  align-self : center;
}

.form-group {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 94%;
  padding: 20px;
  background-color: #333;
  border: 2px solid #fcb900;
  border-radius: 8px; 
  box-shadow: 5px 5px 0px #362800;
}

.form-group2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
}

input {
  width: 96%;
  padding: 10px;
  border: 2px solid white;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 1.1em;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
}

input:focus {
  border-color: #fcb900;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  transform: translateY(-31px);
  font-size: 0.9em;
  color: #fcb900;
}

label {
  position: absolute;
  top: 45%;
  left: 30px;
  transform: translateY(-45%);
  transition: 0.3s ease all;
  color: rgb(141, 141, 141);
  font-weight: bold;
  pointer-events: none;
  background-color: #333;
  padding: 5px 5px 0 5px;
}

input:focus ~ .label2,
input:not(:placeholder-shown) ~ .label2 {
  transform: translateY(-33px);
  font-size: 0.9em;
  color: #fcb900;
}

.label2 {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-45%);
  transition: 0.3s ease all;
  color: white;
  font-weight: bold;
  pointer-events: none;
  background-color: #333;
  padding: 5px 5px 0 5px;
}

button {
  margin-top: 10px;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  white-space: nowrap;
}

.primerGrup .form-group .error-message {
  position: absolute;
  top: 70%;
  left: 0;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 20px;
  white-space: nowrap;
}

.ctti-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 10px;
}

thead {
  background-color: #333;
}

.ctti-table th {
  color: #fcb900;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #fcb900;
}

.ctti-table td {
  color: white;
  padding: 10px;
  border-bottom: 1px solid #fcb900;
}

.ctti-table tr:nth-child(even) {
  background-color: #707070a9;
}

.ctti-table th,
.ctti-table td {
  text-align: center;
}

.ctti-table tbody tr:hover {
  background-color: #999999;
}

.action-btn {
  width: 40%;
  border: 2px solid #ffffff;
  background-color: #333;
  padding: 5px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.edit-btn i,
.delete-btn i {
  font-size: 14px;
}

.edit-btn:hover {
  border-color: #fcb900;
}

.delete-btn:hover {
  border-color: #fcb900;
}

.edit-btn {
  color: #2196f3; /* blue color for edit icon */
}

.delete-btn {
  color: #f44336; /* red color for delete icon */
}


select {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 1.1em;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
}

select:focus ~ .label2,
select:not(:placeholder-shown) ~ .label2 {
  transform: translateY(-33px);
  font-size: 0.9em;
  color: #fcb900;
}

select:focus {
  border-color: #fcb900;
}

button {
  width: 26%;
  padding: 5px;
  border: 2px solid white;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 1.1em;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.centerButton button:hover {
  color: #fcb900;
  border-color: #fcb900;
}

.centerButton {
  display: flex;
  align-content: end;
  justify-content: end;
  margin-top: -20px;
}

