:root {
    --primary: #d36600;
    --background: #131313;
    --text: #ffffff;
  }
  

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
