<div class="background-container">
  <div class="player-form-container">
    <div class="form-card">
      <h2 class="form-title">Afegir Jugador</h2>

      <p>Podeu afegir un mínim de 8 jugadors i un màxim de 14 jugadors.</p>

      <form [formGroup]="jugadorForm" (ngSubmit)="agregarJugador()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" formControlName="nom" required />
          <div
            class="error-message"
            *ngIf="jugadorForm.get('nom')?.invalid && jugadorForm.get('nom')?.touched"
          >
            EL nom es requerit
          </div>
        </div>

        <div class="form-group">
          <label for="cognoms">Primer Cognom</label>
          <input type="text" id="cognoms" formControlName="cognoms" required />
          <div
            class="error-message"
            *ngIf="jugadorForm.get('cognoms')?.invalid && jugadorForm.get('cognoms')?.touched"
          >
            Primer Cognom es requerit
          </div>
        </div>

        <div class="form-group">
          <label for="tallaSamarreta">Talla Samarreta</label>
          <select id="tallaSamarreta" formControlName="tallaSamarreta" required>
            <option value="" disabled selected>Seleccionar talla</option>
            <option *ngFor="let talla of tallas" [value]="talla">{{ talla }}</option>
          </select>
          <div
            class="error-message"
            *ngIf="
              jugadorForm.get('tallaSamarreta')?.invalid &&
              jugadorForm.get('tallaSamarreta')?.touched
            "
          >
            La Talla es requerida
          </div>
        </div>

        <button type="submit" class="btn-add" [disabled]="jugadorForm.invalid">
          <span class="btn-icon">+</span>
          <span>Afegir</span>
        </button>
      </form>
    </div>

    <div class="table-card" *ngIf="jugadores.length > 0">
      <h2 class="table-title">Jugadors Registrats</h2>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Primer Cognom</th>
              <th>Talla Samarreta</th>
              <th>Accions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of jugadores; index as i">
              <td>{{ jugador.nom }}</td>
              <td>{{ jugador.cognoms }}</td>
              <td>{{ jugador.tallaSamarreta }}</td>
              <td class="center-trash">
                <button
                  class="btn-delete"
                  (click)="eliminarJugador(i)"
                  aria-label="Eliminar jugador"
                >
                  <span class="material-icons">delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="navigation-controls">
      <div class="esquerra">
        <button class="btn-prev" (click)="previStep()">
          <span class="material-icons">arrow_back</span>
          <span>Anterior</span>
        </button>
      </div>
      <div class="dreta">
        <button
          class="btn-next"
          (click)="nextStep()"
          [disabled]="jugadores.length < 8 || jugadores.length > 15"
        >
          <span>Següent</span>
          <span class="material-icons">arrow_forward</span>
        </button>
      </div>
    </div>
  </div>
</div>
