/* .footer {
  margin-top: 20px;
  margin-bottom: 20px;
} */

.footer p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  flex: auto;
  justify-content: center;
  gap: 1rem;
}

.social-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 0.875rem;
}

hr{
  margin-top: 0px;
}

.email {
  flex-grow: 1;
  width: 10%;
  text-align: end;
  align-items: center;
}

.phone {
  flex-grow: 1;
  width: 10%;
  align-items: center;
}

.icones {
  flex-grow: 0.5;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
