.footer {
  margin-top: 5%;
}

.footer p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.social-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 0.875rem;
}
