# Ignore Python cache files
__pycache__/
*.pyc
*.pyo


# Ignore virtual environments
.venv/
venv/
env/

#env variables
.env
.env.dev
.env.prod

#sam-build
.aws-sam/

# Ignore packaged.yml

packaged.yml


QR/QR/*
QR/qr-tokens.csv