body {
  background-color: transparent;
}

.stepper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
}
