form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin: 15px;
}

label {
    font-weight: bold;
    color: white;
}

input, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    background-color: rgb(179, 179, 179);
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color: var(--primary, blue);
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
}

.boton-siguiente {
    margin: 5px;
    width: max-content;
    border-radius: 10px;
    background-color: var(--primary);
    border-color: var(--resaltes);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    font-size: 16px;
} 

.center-button {
    display: flex; 
    justify-content: flex-end
}