<div class="menu">
  <app-nav-menu></app-nav-menu>
</div>
<div class="background-container">
  <div class="form-container">
    <div class="form-card">
      <h2 class="form-title">Torna el Ludibàsquet! La gran festa del bàsquet! 🏀🎉</h2>

      <p class="drets-text">
        Benvinguts i benvingudes a la 24a edició del Ludibàsquet, el
        <b>torneig de bàsquet 24 hores més esperat de l'any!</b> 🏆🔥
      </p>

      <p class="drets-text">
        📅 Quan? <b>13 i 14 de juny de 2026 </b><br />
        🕑 Horari? Des de les 14 h del dissabte fins a les 14 h del diumenge <br />
        📍 On? <b>Pavelló de Vidreres </b>
      </p>

      <p class="drets-text">
        Vine a gaudir de 24 hores ininterrompudes de bàsquet, amb àrbitres federats, molts partits i
        un ambient espectacular! Però això no és tot! També t’esperen activitats lúdiques,
        espectacles, regals i moltes sorpreses!🎭🎁
      </p>

      <p class="drets-text">🏀 Categories: Des de <b>Preminis fins a Júniors</b></p>

      <p class="drets-text">
        👕🏀 El torneig compta amb servei de bar, un trenet per desplaçar-se pel recinte i una zona
        de descans vigilada perquè puguis recuperar forces.
      </p>

      <p class="drets-text">
        🔹 <b>Inscripció:</b> Inclou berenar, sopar i esmorzar, a més de tota l’organització,
        activitats, espectacles, trenet, arbitratge i seguretat.
      </p>

      <p class="drets-text">
        💵 El preu de la inscripció són <b>{{ pricePerPlayer }}€/jugador</b>, amb ja tot inclòs. Fins a
        <b>2 entrenadors gratis</b>. El pagament és important que el faci només l’entrenador/a o la
        persona responsable de l’equip.
      </p>

      <p class="drets-text">
        Com cada any, esperem veure-us a la pista, passant-ho d’allò més bé i, sobretot, vivint el
        bàsquet en estat pur!⛹‍♂🏀
      </p>

      <p class="drets-text">
        📩 No us quedeu fora! Apunteu-vos i prepareu-vos per 24 hores inoblidables!
      </p>

      <button [routerLink]="'/inscripcions'" class="btn-download">Inscripcions</button>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
