<div class="countdown-container">
  <header class="header">
    <h1>LUDIBÀSQUET 2025...</h1>
    <p>El ludibàsquet 2025  serà el 7/8 de juny!! Estem molt emocionats de poder-lo compartir amb vosaltres. Les inscripcions pel Ludibàsquet estaran disponibles aviat, estigueu atents a noves informacions!! </p>
  </header>


  <section class="countdown">
    <div class="countdown-item">
      <span class="countdown-time">{{ days }}</span>
      <span class="countdown-label">Dies</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ hours }}</span>
      <span class="countdown-label">Hores</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ minutes }}</span>
      <span class="countdown-label">Minuts</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ seconds }}</span>
      <span class="countdown-label">Segonds</span>
    </div>
  </section>

  <footer class="footer">
    <p>Contacta amb nosaltres:</p>
    <div class="social-icons">
      <a href="https://wa.me/659173158" class="social-link">Whatsapp</a>
      <a href="https://www.instagram.com/ludibasquet/" class="social-link">Instagram</a>
    </div>
  </footer>
</div>
