.container {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
}

.player {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 8;
}
